.panda-info-background{
    background-color: #fceae8;
}
.categories img{
    width: 100px;
}
.bg-buy-now{
    background-image: linear-gradient(to bottom, #fefefe 0%, #FF136F 100%);
    color: #fff;
    border-radius: 8px;
    padding: 9px 25px;
    border: 0;
}